.body__textarea {
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	font-size: 20px;
	width: 912px;
	border-width: 0px;
	border-radius: 10px;
	padding: 10px;
	border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}